---
- name: deploy to k8
  hosts: local
  gather_facts: false
  become: yes

  tasks:
    - name: Delete Deployment
      command: kubectl --v=8 delete -f /home/ubuntu/deployment.yaml --kubeconfig=/home/ubuntu/.kube/config
      ignore_errors: true
      
    - name: Remove file
      command: rm -rf /home/ubuntu/deployment.yaml
      ignore_errors: true

    - name: Copy deployment.yaml to Kubernetes master
      copy:
        src: /var/lib/jenkins/workspace/python-webapp/deployment.yaml  # Assuming Jenkins workspace variable
        dest: /home/ubuntu/

    - name: Apply Deployment
      command: kubectl apply --validate=false -f /home/ubuntu/deployment.yaml --kubeconfig=/home/ubuntu/.kube/config
      
    - name: Port Forward
      command: "nohup kubectl port-forward svc/webapp-service 30000:80 --kubeconfig=/home/ubuntu/.kube/config > /dev/null 2>&1 &"
      async: 0
      poll: 0
