---
- name: deploy to k8
  hosts: k8
  gather_facts: true

  tasks:
    - name: Copy deployment.yaml to Kubernetes
      copy:
        src: /var/lib/jenkins/workspace/python-webapp/deployment.yaml  # Assuming Jenkins workspace variable
        dest: /home/ubuntu/

    - name: Apply Deployment
      command: kubectl apply -f /home/ubuntu/deployment.yaml
